<div class="cocktail-img text-center col-12" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('<%= @cocktail.photo.present? ? cl_image_path(@cocktail.photo, height: 300, width: 400, crop: :fill) : image_path('cocktail-placeholder.jpg') %>')">
  <h3><%= @cocktail.name %></h3>
</div>
<div class="container">
  <div class="row">

    <div class="col xs-12 col-sm-7">
      <h3>Ingredients</h3>
      <ul class="list-unstyled">
        <% @cocktail.doses.each do |dose| %>
          <li>
            <strong><%= dose.ingredient.name %></strong> - <%= dose.description %>
            <%= link_to '', '#', class: "fas fa-pen-square actions" %>
            <%= link_to '', delete_dose_path(dose), method: 'delete', class: "far fa-trash-alt actions" %>
          </li>
        <% end %>
      </ul>

      <%= link_to "Add an ingredient", new_dose_path(@cocktail), class: 'btn btn-actions' %>
    </div>

    <div class="col xs-12 col-md-5">
    </div>
  </div>
</div>

