<div class="container">
  <div class="row">
    <div class="col-xs-12 w-100">
      <h1 class="text-center">Add a new ingredient to <%= @cocktail.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 m-auto">
      <%= simple_form_for (@dose) do |f| %>
        <%= f.association :ingredient, label: 'Select an ingredient', collection: Ingredient.all.order(:name) %>
        <%= f.input :description %>

        <%= f.button :submit, class: 'btn btn-actions' %>
      <% end %>
    </div>
  </div>
</div>
